.choose-service {
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;

    &__item {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    &__input {
        display: none;

        // &::before {
        //     content: "";

        // }

        &:checked + .choose-service__checkbox {
            background-color: #FF7A00;
            border-color: #FF7A00;
            background-image: url(../assets/img/svg/mark.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__checkbox {
        width: 18px;
        height: 18px;
        display: inline-block;
        border: 2px solid #222;
        background-color: transparent;
        cursor: pointer;
        margin-right: 10px;
    }
}