.contact-us {
    padding: 130px 0;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__block {
        width: 40%;
    }

    &__title {
        margin-bottom: 30px;
    }

    &__time {
        margin-left: 60px;
    }

    &__text {
        font-family: $main-font-family;
        font-style: normal;
        font-weight: bold;
        font-size: 1rem;
        line-height: 1.25rem;  
        color: #222;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        &--margin {
            margin-bottom: 0;
        }
    }

    &__links {
        margin-bottom: 30px;
    }

    &__link {
        width: 25px;
        height: 25px;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        margin-right: 13px;

        &:last-child {
            margin-right: 0;
        }

        &--instagram {
            background-image: url(../assets/img/svg/instagram.svg);
        }

        &--facebook {
            background-image: url(../assets/img/svg/facebook.svg);
        }

        &--youtube {
            background-image: url(../assets/img/svg/youtube.svg);
        }
    }

    &__map {
        width: 60%;

        &-img {
            width: 100%;
            // height: 100%;
        }
    }
}

@media (max-width: 769px) {
    .contact-us {
        &__block {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
        }

        &__map {
            margin-top: 25px;
            width: 100%;
        }
    }
}

@media (max-width: 320px) {
    .contact-us {
        &__text {
            text-transform: lowercase;
            font-weight: normal;
        }

        &__block {
            flex-wrap: wrap;
        }

        &__block-content {
            width: 100%;
        }
    }
}