.footer {
    background-color: #222;
    padding: 45px 0 45px 0;
    margin-top: 0;

    &__contact-us {
        max-width: 155px;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    &__info {
        // width: 75%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    &__title {
        margin-bottom: 15px;
    }

    &__text {
        color: #fff;
        font-weight: normal;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__nav {
        // flex-direction: column;
        // align-items: flex-start;
        // width: 100%;
        display: block;
        width: auto;
    }

    &__links {
        margin-bottom: 0;

    }

    &__link {
        width: 35px;
        height: 35px;
        background-position: center;
        background-repeat: no-repeat;
        text-align: left;
        display: block;
        padding-left: 10px;
        margin-bottom: 25px;
        margin: 0 auto;


        &--instagram {
            background-image: url(../assets/img/svg/inst-footer.svg);
        }

        &--youtube {
            background-image: url(../assets/img/svg/footer-youtube.svg);
        }

        &--facebook {
            background-image: url(../assets/img/svg/footer-facebook.svg);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            left: 0;
        }
    }
}

@media (max-width: 1024px) {
    .footer {
        &__container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media (max-width: 769px) {
    .footer {
        &__container {
            text-align: center;

        }

        &__content {
            margin-bottom: 25px;
        }

        &__item {
            margin-bottom: 50px;
            margin-right: 10px;
        }
    }
}

// @media (max-width: 545px) {
//     .footer {
//         &__item {
//             margin: 0 auto;
//             margin-bottom: 25px;
//             padding-right: 5px;
//         }
//     }
// }

@media (max-width: 320px) {
    .footer {
        &__follow-us {
            margin-bottom: 0;
        }

        &__container {
            display: block;
            width: 100%;
            padding: 0 5px;
        }

        &__item {
            margin-right: 0;
        }

    }
}