.header {
    background-color: #222222;
    padding: 25px 0 25px 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav-open {
        display: none;
        width: 25px;
        height: 16px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        background-image: url(../assets/img/png/menu.png);
    }
    
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;

    &__link {
        @include text;
        text-align: center;
        position: relative;
        border: 2px solid #FF7A00;
        border-radius: 10%;
        margin-right: 5px;
        border-color: transparent;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: #FF7A00; 
            border-color: #FF7A00;
        }

        &--active {
            color: #FF7A00;
            border-color: #FF7A00;
        }
    }
}



.basket {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    position: relative;

    &__btn {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        background-image: url(../assets/img/svg/basket.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        outline: none;
    }

    &__counter {
        font-family: $main-font-family;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-transform: capitalize;
        color: #FFF;
        margin-left: 10px;
    }
}

@media (max-width: 769px) {

    .header {

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__nav-open {
            display: block;
        }

        &__logo {
            display: none;
        }
    }



    .nav {
        display: none;
    }

    .connection {
        width: auto;

        &__btn {
            display: none;
        }
    }

}