@mixin text {
    font-family: $main-font-family;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFF;
}

// @mixin btn {
//     border: 1px solid #FFF2E5;
//     border-radius: 4px;
//     padding: 16px 32px;
//     background: transparent;
// }