.shop-offer {

    // background-image: url(../assets/img/png/slider-bg.png);
    background: linear-gradient(90deg, rgba(255, 122, 0, 0.7) 0%, rgba(255, 122, 0, 0) 100%) , url(../assets/img/png/slider-bg.png);

    padding: 140px 0;
    
    &__slider {
        padding: 0 25px;
        position: relative;
    }

    &__btn {
        position: absolute;
        top: 45%;
    }

    &__img {
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        width: 50%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 769px) {
    .shop-offer {
        background: linear-gradient(90deg, rgba(255, 122, 0, 0.7) 0%, rgba(255, 122, 0, 0) 100%) , url(../assets/img/png/shop-bg769.png);
    }  
}

@media (max-width: 320px) {
    .shop-offer {
        background: linear-gradient(90deg, rgba(255, 122, 0, 0.7) 0%, rgba(255, 122, 0, 0) 100%) , url(../assets/img/png/bg-shop320px.png);
    }  
}